@model StudentSystem.Web.Models.CourseViewModel

@{
    ViewBag.Title = "Details";
}
@Html.Partial("_sidebar")
@Html.Partial("_helpbutton")
<body class="theme-invert">
    <div class="jumbotron col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" style="color: black">
        <div class="page-header">
            <h1>Курсове</h1>
        </div>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CourseName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CourseName)
                </dd>

            </dl>
        </div>
        <p>
            @if (Model.UserIsEnrolledCourse)
            {
                @Html.ActionLink("Отписвам се", "Edit", new { id = Model.CourseId })
            }
            else
            {
                @Html.ActionLink("Записвам  се", "Enroll", new { id = Model.CourseId})
            }
            @*@Html.ActionLink("Промени", "Edit", new { id = Model.SubjectID })*@ |
            @Html.ActionLink("Обратно към листа", "Index")
        </p>
    </div>
</body>